# Ignore all mp4 video files
*.mp4

# Ignore all images
*.png
*.jpg

# Ignore Python temporary/cache files
__pycache__/
*.pyc

# Ignore environment files
.env

#If you want to ignore whole folders:
videos/
downloads/
temp/
